 /* variables */
 :root {
    --bodyheading: 'Bebas Neue', cursive;
    --bodytext: sans-serif;
    --navBarColor: black;
    --heading: 'Oswald', sans-serif;
    --logo: 'Mochiy Pop P One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;

}
 
/* ******************HOME *********************/


/* ********************navigation Bar ********************** */
#navBar {
    border: none;
    outline: none;
    font-size: 1.1rem;
    display: flex;
    position: sticky;
    top: 0px;
    /* border: 2px solid red; */
    height: 4.5rem;
    background-color: var(--navBarColor);
    align-items: center;
    z-index: 10;
    opacity: 0.92;
}


.userid{
    color: white;
    width: 12rem;
}




.logo {
    display: block;
    background: url('./logo.png') no-repeat center center/cover ;
    border-radius: 100%;
    margin: 12px 20px;
    margin-top: 75px;
    height: 8rem;
    width: 10rem;
    /* width: 25%; */
    z-index: 1;
}
.logo p{
    font-family: var(--logo);
    margin-top: 6.3rem;
    padding: 0px;
}
.logo p span{
    font-size: 0.5rem;
    font-family: var(--logo);
    /* margin-top: 6.7rem; */
    /* padding: 0px; */
}
 .logo img{
     border-radius: 100%;

 }


/*** Menu COntents ***/
#navBar ul {
    width: 75%;
    margin: 12px 48px;
    display: flex;
}

#navBar li {
    border-radius: 8px;
    display: block;
   /* height: 50px; */
   padding: 8px;
   justify-content: center;
    text-align: center;
    list-style: none;
    color: white;
    transition: all 1s;
}

#navBar li:hover {
    background-color: rgb(80, 133, 80);
    

    transform:translateY(-12px);
    
   
    /* color: white; */
}

#navBar li:active{
    /* text-decoration: underline; */
    background-color: rgb(80, 133, 80);
    
    
    /* transform:translateY(-12px); */
    
   
    /* color: white; */
}



.menuItems {
    color: white;
    margin: 0px 18px;
    padding: 2px 2px;
}

#navBar .trans a {
    width: 60px;
    height: 80px;
    text-decoration: none;
    transition: all 1s ;
}

/******************************* Dropdown container **************/
/******************************* Dropdown container **************/
.dropdown .dropbtn {
    font-size: 1.1rem;
    /* border: rgb(80, 133, 80) solid; */
    
    color: white;
    /* padding: 14px 16px; */
    background-color:transparent;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  button.dropbtn{
      cursor:auto;
      
      outline: none;
     
  }
  button.dropbtn:active{
    border: none;
    text-decoration: none;

  }

  
  .dropdown {
    border: none;
    padding: 20px;
    display: flex;
    transition: all 1s;
    /* overflow: hidden; */
  }
  .dropdown-content a{
      border: none;
      font-size: 1rem;
      padding: 4px;
      margin-top: 0.7rem;
  }

  .dropdown-content {
      transition: ease-in;
    font-size: 1rem;
    display: none;
    position: absolute;
    background-color: white;
    opacity: 0.9;
    margin-top: 11px;
    height: 14rem;
    width: 10rem;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;

    
  }
  @keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }

  
  .dropdown-content a {
      text-align: center;
      font-size: 1rem;
    float: none;
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    padding-top: 15px;
    opacity: 2;
    display: block;
    text-align: left;
  }
  .dropbtn:active{
      outline: none;
      border: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    border: none;
   
    
    /* height: 90px; */
  }
  .dropdown-content a:hover{
    background-color: rgb(190, 184, 184);
  }




  /* ****************emergency BUTTON************************* */


.glow-on-hover {
    font-size: 1.3rem;
    font-weight: bold;
    color: #255784;
    background: red;
    box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px red;

    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(255, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #fbff00 ,rgb(48, 46, 40), #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.glow-on-hover:active {
    color: rgb(255, 0, 0)
}

.glow-on-hover {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 0);
    left: 0;
    top: 0;
    border-radius: 30px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.glow{
    /* font-size: 80px; */
    display: block;
    width: auto;
    margin: auto;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #41e600, 0 0 40px #e60073, 0 0 50px #41e600, 0 0 60px #e60073, 0 0 70px #00e626;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }










  .login{
      margin-right: 15px;
      border: solid white 2px;
      border-radius: 8px;

  }
  .Login{
      color: white;
    
        border-radius: 8px;
        display: block;
       /* height: 50px; */
       padding: 10px;
       justify-content: center;
        text-align: center;
        list-style: none;
        color: white;
  }

  .emergency{
      margin-right: 60px;
      
    /* border: solid white 2px; */
      /* border-radius: 8px; */

  }
  /* <!-- ******************NEWS AND UPDATES*************** --> */

  .news{
      margin-top: 5rem;
      width: 100%;
      height: 3rem;
      border: solid 2px red;
  }

  #content1::before{
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("./women.jpg") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    height: 700px;
    width: 100%;
    opacity: 0.75;

}
#content1{
    height: 650px;
}



  /* <!-- ************SERVICES CONTENT 3**************************** --> */

  .services{
      margin-top: 5rem;
      height: 10rem;
      border: solid 2px rebeccapurple;
  }
  #joinBtn{
      color: white;
      height: 20px;
      display: block;
      margin: auto;

    /* padding-left: 75px; */
}

#joinBtn button{

    color: white;
    background-color: #4c6d79;
    border-radius: 18px;
    width: 120px;
    height: 2.6rem;
    border: none;
    box-shadow: 2px;
    cursor: pointer;
    
}
#joinBtn a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
}
#joinBtn button:hover a{
    color: #1CB0E6;
    
}

#joinBtn button:hover{
    border: 2px solid #8acde6;
    color:#8acde6;
    background-color: transparent;
}


  
  




.display{
    margin-left: 10.4rem;
   /* border: 2px solid red; */
    height: 480px;
    width: 500px;
}

.display1{
    display: flex;
    /* border: 2px solid red; */
    width: 80%;
    height: 900px;
    margin: auto;
}
.display2{
    display: flex;
    /* border: 2px solid red; */
    width: 80%;
    height: 900px;
    margin-top: 80px;
    margin-left: 168px;
}

.im1{
    box-shadow: 0 0 24px 1px rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /* margin: 40px; */
    display: flex;
    margin-right: 10px;
    /* border: 2px solid red; */
width: 50%; 
height: 850px;
}

.img1{
   box-shadow: 0 0 20px 2px black;
   /* z-index: 2; */
   display: block;
   background: url("./police.jpg") no-repeat center/cover;
   margin: 40px auto;
   width: 35rem;
   
   height: 25rem;
}
.context1{
   display: block;
   height: 10rem;
   width:100%
}
.head-con{
    height: 2rem;
   /* text-shadow: 2px 2px 10px 10px red; */
   text-shadow: 1px 1px 20px  rgb(61, 60, 60);
   font-family: var(--bodyheading);
   font-size: 2.4rem;
   text-align: center;
}
.context1-body{
   text-transform: uppercase;
   font-family: var(--bodytext);
   text-align: center;
   font-size: 16px;
   line-height: 26px;
   margin: 45px;
}
.context1-body p{
   font-weight: bold;
}
.im2{
   box-shadow: 0 0 24px 1px rgb(36, 36, 36);
   display: flex;
   flex-direction: column;
    background-color: white;
    margin-left: 10px;
    /* margin: 40px; */
    display: flex;
    
width: 50%; 
height: 850px;
}
.img2{
    z-index: 1;
   box-shadow: 0 0 20px 2px black;
   /* z-index: 2; */
   display: block;
   background: url("./medical.jpg") no-repeat center center/cover;
   margin: 40px auto;
   width: 35rem;
   height: 25rem;
}

.img3{
   box-shadow: 0 0 20px 2px black;
   /* z-index: 2; */
   display: block;
   background: url("./fire.jpg") no-repeat center center/cover;
   margin: 40px auto;
   width: 35rem;
   
   height: 25rem;
}
.img4{
   box-shadow: 0 0 20px 2px black;
   /* z-index: 2; */
   display: block;
   background: url("./people.jpg") no-repeat center center/cover;
   margin: 40px auto;
   width: 35rem;
   
   height: 25rem;
}

.content3-2{
   height: 26rem;
   /* border: 2px solid red; */
}


.reg {
    display: block;
    width: 35rem;
    height: 25rem;
    height: 100%;
    width: 100%;
}


/* *************CONTENT2**************** */

.content2::before{
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("./women1.jpg") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    height: 700px;
    width: 100%;
    opacity: 0.75;

}
.content2{
    height: 700px;
    z-index: 1;
}


/* **************important links***************** */

.important-links{
    height: 30rem;

}

.heading{
    text-align: center;
    font-size: 3rem;
    font-family: var(--heading);
}
.footer{
    width: 10rem;
}
.footer span{
    font-size: 1rem;
}

.footerlogo{
    height: 8rem;
}


@media (max-width: 991px)
{
    #navbar{
        font-size: 0.8rem;
    }
    .logo{
        margin-top: 45px;
        height: 8rem;
        background: url('./logo.png') no-repeat center center/cover ;

        width: 30rem;
        /* width: 25%; */
        /* z-index: 1; */
    }
}




.userid li:hover{
    background-color: #1CB0E6 !important;
    transform:translateY(0px) !important;

}

.userid li{
    color: #41e600 !important;
}



